body{
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url("matiereEcole.jpeg");
    display: flex;
    flex-direction: column;

    align-items: center;

}

h2 {
    font-family: Ubuntu;
    font-style: italic;
    border: 3px white groove;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    width: 20%;
}

#saisie{
    font-family: Ubuntu;
    font-style: italic;
    border: 3px white groove;
    border-radius: 15px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: gainsboro;
   height: 60px;
    width: 60%;

}

#boutons{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

}