<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/styleLogin.css}" rel="stylesheet" type="text/css">
    <title>Login</title>

</head>
<body >
    <div id="login">
        <div class="info" th:if="${param.error}">
            Identifiant ou mot de passe invalide.
        </div>
        <div class="info" th:if="${param.logout}">
            Vous avez été déconnecté.
        </div>
        <form th:action="@{/login}" method="post">

            <div  ><input type="text" name="username" placeholder="Identifiant" /> </div>
            <div ><input type="password" name="password" placeholder="Password" /> </div>

            <div><input type="submit" value="Connexion"/></div>

        </form>


    </div>
</body>
</html>