<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Bienvenue!</title>
</head>
<body>



<span th:if="${admin}" > <a th:href="@{/admin}">Admin</a> </span></br>
<a th:href="@{/nouvelleNote}">Entrer une nouvelle note</a></br>
</br>
<a th:href="@{/logout}">Déconnexion</a></br>

<p>Bonjour <span th:text="${principal.getName()}"></span> </p>

<div>
    <ul>
        <li th:each="note : ${notes}">
            <p th:text="${note.toString()}"></p>

        </li>
    </ul>

</div>
</body>
</html>