<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Saisie nouvelle note</title>
</head>
<body>


    <p>Bonjour <span th:text="${principal.getName()}"></span> </p>
    <h3>Entrer une nouvelle note :</h3>
    <div>
      <form th:action="@{/nouvelleNote}" method="post" th:object="${note}">

          <select  th:field="*{matiere}">
              <option value="">Choisir une matière</option>
              <option th:each="matiere : ${matieres}"
                      th:value="${matiere.getId_matiere()}"
                      th:text="${matiere.getMatiere()}"></option>

          </select>

          <input type="text"  th:field="*{resultat}" placeholder="Quelle note ?">

          <select  th:field="*{sorte}">
              <option value="">Sorte de travail</option>
              <option th:each="sorte : ${sortes}"
                      th:value="${sorte.getId_sorte()}"
                      th:text="${sorte.getSorte()}"></option>

          </select>

          <input type="date" th:field="*{date}" placeholder="Quelle date ?">

          <input type="text"  th:field="*{commentaire}" placeholder="Un commentaire ?">

          <input type="hidden"  th:field="*{username}">

          <input type="submit" value="Rentrer la nouvelle note"></br>
          </br>
          <a th:href="@{/}">Euh, nan, je me suis trompée</a></br>
      </form>

    </div>
</body>
</html>
