<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Modifier une matière</title>
   <!-- <link rel="stylesheet" href="../../css/bootstrap.min.css" >-->
</head>
<body>
<div >

        <h2>Modifier une matière</h2>


    <div class="row">
        <form action="#" th:action="@{/admin/updateMatiere/{id}(id=${matiere.getId_matiere()})}" th:object="${matiere}" method="post" >

            <div >
                <label for="matiere" >Matière</label>
                <div >
                    <input type="text" th:field="*{nomMatiere}" id="matiere"  >

                </div>
            </div>

            <div >
                <div >
                    <!--<input type="hidden" th:field="*{id_matiere}">-->
                    <a th:href="@{/admin}">Annuler</a>
                    <input type="submit" value="Modifier la matière">
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>